.wrapper {color: #626161;
    font-size: 15px;
    text-align: center; 
  }
  :focus {outline: none; }
  h3, h2, h4 {color: #61120a;
     text-transform: uppercase;
      font-size: 45px; 
       margin-bottom: 12px; } 
  .wrapper p {   margin-bottom: 0.9rem;
    margin-left: 22%;
    line-height: 1.8;}
  .about { position: relative;
     display: block;
      margin-bottom: 48px; }
  .wrapper {
    min-height: 70vh;
    display: flex;
    background-size: cover;
    padding-bottom: 2em; }
  .inner {
    max-width:fit-content;
    margin: auto;
    background: #e7deb577;
    border: 5px solid #61120a;
    padding: 0px 900px 0px 0px;
    border-radius: 1em; }
  .about {
    border-bottom: 2px solid #61120a;
    display: block;
    height: 43px;
    font-size: 15px; }
    .img1 {
      position: absolute;
      margin-left: 38%;
      margin-top: -23%;
      border-radius: 3%;
    }
  .img2{
    position: absolute;
      margin-left: 38%;
      margin-top: -25%;
      border-radius: 3%;
  }