
/* color of the whole body*/
body{
	background-color: #ffffef
}

h1 {
  color: #61120A;
  text-align: center;
  font-weight:bolder;
  font-size: 3em;
  padding-left: 20px;
  background-color: #e7deb55b;
  border: 90px;
}

.rowStaff{
	display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.column {
  display: flex;
  justify-content: center;
  float: left;
  width: 20%;
  padding: 0 8px;
  text-align: center;
  margin: 2px;
  
}

.progress{
	text-align:center;
	
}
.checked {
  color: orange;
Float: right-side;

}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  border-style: outset border-color: rgb(225, 235, 225);
  padding: 2px;
  margin :10px;
  border: 2px solid black;
  width: 10000px;
  height: 420px;
  background-color: #61120a;
  color: #ffffef;
}


/* Some left and right padding inside the container */
.container {
  padding: -3 30px;
}
.rating{
	direction : rtl;
}

 .rating input{
	display: none;
  
}

 .rating label{
	color : lightgrey;
	display:inline-block;
	cursor:pointer;
	width : 5px;
	font-size : 19px;
	margin : 0 5px;
   text-shadow : 1px 1px #bbb;
   

}

.rating label:before{
	content : '\f005';
	font-family : fontAwesome;
	position : absolute;
}

.rating label:after{
	content : '\f005';
	font-family : fontAwesome;
	position : absolute;
	color : gold;
	opacity : 0;

}


.rating label:hover:after,
.rating label :hover~label:after,
.rating input :checked~label:after{
	opacity:1;
	color : gold;
}

[data-ratings] {
  width: 0;
  height: 0;
  opacity: 0;
  position: relative;
  top:9px;
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #FFDF00;
  -webkit-transition: color .5s;
  transition: color .5s;
  vertical-align: top; 
  }
  

  [data-ratings] svg {
    width: 21px;
    height: 25px;
    fill: currentColor; 
   }


  [data-ratings] .ratings-empty,
  [data-ratings] .ratings-full {
    position: absolute;
    color: inherit;
    overflow: hidden;
    vertical-align: top; }

    .rating-text {
      position: relative;
      padding-left: 10px;
      line-height: 30px;
      font-size: 12px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
              }


    /* the average style*/

    .rating-average{
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: -10%;
    }

    .rating-average .average{
      color: rgb(255, 255, 255);
      margin-left: 20px;
      position: relative;
      top: 2px;
      justify-content: center;
    }