
main{
    width:100%;
    height:fit-content;
    padding-bottom: 3%;
    padding-top: 3%;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
    top: 600px;
    right:290px;
    font-size: 27px;
    color: #61120A;
    padding: 1em;
    background-color:#e7deb56b;
    border-radius: 3em;
  }

  select{
    font-size: 1em;
    color: #61120A;
  }
  
  .ADD {
    /* position: absolute; */
    /* display: inline-block; */
    /* top : 2950px ; */
    /* right: 50%; */
    /* left: 50%; */
    height: 40px;
    display: block;
    width: 100px;
    position: relative;
    left: calc(50% - 50px);
    margin-top: 61px;
    border-radius: 10px;
    font-size: 22px;
  }
  
  .ADD:active {
    background-color: #e7deb5 ;
    color:  black;
    cursor: pointer;
  }
  
  
  /* Clear floats after image containers */
  .rowO::after {
    content: "";
    clear: both;
    display: table;
  } 
  
  
  .rowO {
    display: flex;
  
  }
  
  .column {
    flex: 20%;
    padding: 5px;
    text-align: center; 
    text-align: center;
    float: center;
    }
    
  .headline {
    text-align: left;
    margin-left:20%;
    font-size:6em;
    color: #61120A;
  }
  
  .imgstyles {
    object-fit:cover;
    width:290px;
    height:200px;
    border-color:transparent;
    border-radius: 7px 7px 0 0;
    text-align: center;
  
  
  }
  .bites {
    font-size: 35px;
    text-align: center;
    font:georgian;
    padding: 1em;
    background-color:#e7deb56b;
    border-radius: 3em;
  }
  
  .card {
    /* Add shadows to create the "card" effect */
    width:290px;
    height:310px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: 15%;      
    margin-right: 25%;
    float: none;
    background-color: #f5f5f549;
    text-align: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .container p{
    margin-left: 20%;
  }
  .printt{
    margin-left: 25%;    
    margin-right: 25%;
  }
  
  .printbutton{
    /* position: absolute; */
    display: inline-block;
    top : 3500px;
    right: 76%;
    width: 17%;
    padding: 2px 20px;
    font-size: 13px;
  }
  
  
  .printbutton:active {
    background-color: #e7deb5;
    color: black;
    cursor: pointer;
  }
  

  hr {
    margin-top: 5%;
    border-top: 4px dashed #61120A;
  }
  h4{
    text-align: center;
    font-size: 3em;
    color:#61120A;
  }
  fieldset{
    background-color: aliceblue;
  width:20% ;
  height: auto ;	
  border-style : outset ;
  border :1% ;
  padding : 1% ;
  padding-bottom: 10%;
  margin : 4%;
  margin-right: 40%;
  }